# netping Configuration File /etc/netping.config 
# logfile path   
[path]
# Absolute path 
# path to save curren log file (diario.log)
pathnome_log=/home/salvatore/netping/diario.log
# path to archive previus log files each day at 00:07 
path_arch=/home/salvatore/netping/archive/
# Data Base  Credential to connect to it
[database]
#IP of where DB server
databasehost=xx.xx.xx.xx
# Db user
user=user
#password 'segreta'
password=password
schemadb=net_ping
[url]
urlj=http://localhist:9090
