# netping Configuration File /etc/netping.config 
# logfile path   
[path]
# Absolute path 
# path to save curren log file (diario.log)
pathnome_log=/yourpath/netping/diario.log
# path to archive previus log files each day at 00:07 (more or less) 
path_arch=/yourpath/netping/archive/
# Data Base  Credential to conect to it
[database]
# 10.150.xx.xx
databasehost=ipv_address
user=user
#password 'segreta'
password=password
schemadb=net_ping
