<h1>Link <%= "#{@data[0].ip_sorg} -> #{@data[0].ip_dest}"%></h1>

<canvas id="canvas" width="960" height="500"></canvas>

<div id="nav_links">
  <%= link_to 'indietro', links_url() %>
</div>

<script type="text/javascript">
jQuery( function() {
  jQuery.get("<%=  graph_links_url(source: @data[0].ip_sorg, destination: @data[0].ip_dest, format: :json)%>",
    function(graph_data) {
      console.log("successful");
      console.log(graph_data);

      data = {
        labels : graph_data.labels,
        datasets : [
          {
            label: 'ping max',
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : graph_data.max
          },
          {
            label: 'ping avg',
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : graph_data.avg
          },
          {
            label: 'ping min',
            fillColor : "rgba(10,220,220,0.5)",
            strokeColor : "rgba(10,220,220,1)",
            pointColor : "rgba(10,220,220,1)",
            pointStrokeColor : "#fff",
            data : graph_data.min
          }
        ]
      };

      myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data, {
        multiTooltipTemplate: "<%%= datasetLabel %> - <%%= value %>",
        // Boolean - Whether to show labels on the scale
        scaleShowLabels: true,

        // Interpolated JS string - can access value
        scaleLabel: "<%%=value%> ms",

        // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
        scaleIntegersOnly: true,

        // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleBeginAtZero: true
      });
    });
});
</script>
